.linkStyles {
  text-decoration: none;
  margin: 30px;
  display: inline-flex;
  justify-content: space-evenly;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 600;
  color: rgb(5, 82, 159);
  text-decoration: none;
}

.linkStyles:hover {
  color: white;
  transition: 0.3s;
}

#navBar.me-auto {
  margin-right: 0px !important;
}

#navCont.container {
  margin: 0px;
  padding: 0px;
  justify-content: space-evenly;
}

#navbarCont {
  padding: 0px;
  margin: 0px;
}
