#title {
  color: white;
  font-size: 45pt;
  text-decoration: none;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
}

#logo {
  padding-top: 30px;
  float: center;
}

#logo:hover {
  text-shadow: 5px black;
}

@media screen and (min-width: 1800px) {
}

@media screen and (max-width: 766px) {
  #logo {
    padding-left: 20%;
    width: 80%;
  }
}
